
<div class="row justify-content-center" style="margin-top: 20px;">

<div class="col-auto">
  <%= link_to 'レシピ削除', recipe_path(@recipe), method: :delete, data:{confirm: '本当に削除しますか？'}, class:"btn btn btn-outline-danger", style: "width: 200px;" %>
</div>
</div>
<div class="container">
  <%= render 'public/recipes/show', recipe: @recipe, admin: true %>

  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-7 offset-1">


        <div>
          <p>
            いいねの数：<%= "#{@recipe.favorites.count}" %>
          </p>
        </div>
        <div>
          <p>コメント件数：<span id="comment_count"><%= @recipe.post_comments.count %></span>件</p>
            <div id="post_comments">
              <%= render 'public/post_comments/show', {recipe: @recipe, post_comments: @post_comments} %>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
          <%= link_to "元のページに戻る", "javascript:history.back()", class: "btn btn-secondary" %>
        </div>

        </div>
      </div>

</div>


