
<div class="album bg-light">
  <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-6">
          <h2 class="heading-title">レシピ一覧</h2>
        </div>

        <div class="col-md-3">
           <%= form_tag recipes_path, method: :get, class: 'boards_searchForm' do %>
             <%= select_tag :tag_id,
                     options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                     {
                       prompt: 'タグで絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
             %>
          <% end %>
        </div>

        <div class="col-md-3">
           <%= form_tag recipes_path, method: :get, class: 'boards_searchForm' do %>
             <%= select_tag :cooking_time_id,
                     options_from_collection_for_select(CookingTime.all, :id, :time_in_minuites, params[:cooking_time_id]),
                     {
                       prompt: '所要時間で絞り込み検索',
                       onchange: 'submit(this.form);'
                     }
             %>
          <% end %>
        </div>

      </div>
      <div class="row">
        <div class ="col-md-12">
          <div class="row">

             <% recipes.each do |recipe| %>
                <div class="col-md-4">
                   <div class="card custom-card mb-4 shadow-lg">
                     <%= link_to recipe_path(recipe) do %>
                       <%= image_tag recipe.get_photo(200, 200),class:"card-img-top"; %>
                     <% end %>
                   <div class="card-body">

                     <p class="card-title">
                       <%= "[#{recipe.tag.name}]" %>
                       <% if current_admin %>
                         <%= link_to admin_recipe_path(recipe) do %>
                           <%= recipe.title %>
                         <% end %>
                       <% else %>
                         <%= link_to recipe_path(recipe) do %>
                           <%= recipe.title %>
                         <% end %>
                       <% end %>
                     </p>

                      <P class="card-end_user">
                        <% if current_admin %>
                          投稿者：
                          <%= link_to admin_end_user_path(recipe.end_user) do %>
                            <%= recipe.end_user.nickname %>さん
                          <% end %>
                        <% else %>
                          <%= link_to end_user_path(recipe.end_user) do %>
                            <%= recipe.end_user.nickname %>さん
                          <% end %>
                        <% end %>
                        <%= image_tag recipe.end_user.get_profile_image(50, 50) %>
                      </P>
                      <p>
                         <% if current_admin %>
                           <%= link_to "#{recipe.post_comments.count} コメント", admin_recipe_path(recipe.id) %>
                         <% else %>
                           <%= link_to "#{recipe.post_comments.count} コメント", recipe_path(recipe.id) %>
                         <% end %>
                      </p>
                      <% unless current_admin %>
                        <div id="recipe_favorite_<%= recipe.id %>">
                          <%= render 'public/favorites/favorite', recipe: recipe %>
                        </div>
                      <% end %>

                   </div>

                  </div>
                </div>
              <% end %>

           </div>
         </div>
      </div>



  </div>
</div>
