<div class="container">

  <% @recipes.each do |recipe| %>

  <div class="row">
    <%= image_tag recipe.get_photo %>
    <p>投稿ユーザー画像：<%= image_tag recipe.end_user.get_profile_image(100,100) %></p>
    <p>タイトル：<%= recipe.title %></p>
    <p>説明：<%= recipe.description %></p>
    <P>投稿者：<%= recipe.end_user.name %>さん</P>
  </div>

  <% end %>

</div>
