<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
  <p class="notice text-center" style="color:green;"><%= flash[:notice] %></p></div>
<% end %>

<div class="container">
  <%= render 'show', recipe: @recipe, admin: false %>

  <div class="row" style="margin-top: 20px;">
    <div class="col-7 offset-1">
      <div>
        <div id="recipe_favorite_<%= @recipe.id %>">
          <%= render 'public/favorites/favorite', recipe: @recipe %>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-7 offset-1">
      <div>コメント件数：
        <span id="comment_count"><%= @recipe.post_comments.count %></span>件（
          <%= link_to recipe_post_comments_path(@recipe), data: { "turbolinks" => false } do %>
            <i class="fa-regular fa-comments"></i>コメントを全て見る
          <% end %>）
      </div>
      <div class="comment-link">
        <%= link_to recipe_post_comments_path(@recipe), style: "color: white;", data: { "turbolinks" => false } do %>
          <i class="fa-regular fa-pen-to-square"></i>コメントフォームはこちら
        <% end %>
      </div>
    </div>
  </div>
</div>

