<div class="container">
  <%= render 'show', recipe: @recipe %>
        


  <div class="row" style="margin-top: 20px;">
    <div class="col-7 offset-1"> 
        

        <div>
          <p>コメント件数：<span id="comment_count"><%= @recipe.post_comments.count %></span></p>
          
          <div id="post_comments">
            <%= render 'public/post_comments/show', {recipe: @recipe} %>
          </div>
          
          <p id="favorite_buttons_<%= @recipe.id %>" >
            <%= render 'public/favorites/favorite', recipe: @recipe %>
          </p>  
          
        </div>
        <div id="comment-form">
         <%= render 'public/post_comments/form', {recipe: @recipe, post_comment: @post_comment} %>
        </div>

    </div>
  </div>
</div>
