<style>
  body.top-page {
    margin: 0; /* ボディのマージンをリセット */
    padding: 0;
    background-color: #9ba5a0;
  }

  .container-fluid {
    background-color: #9ba5a0;
  }

  .card {
    margin: 10px; /* 余白のサイズを調整 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* カードに影を追加（任意） */
  }
</style>

<div class="container-fluid">
  <div class="row" style="margin-left: 15px;">
    <div class="col-3" style="border: 1px solid #000; background-color: white; padding: 30px;">
      <div class="row text-center">
        <h4>シェフの皆さん！<br>
          賄い作りの時間ですよ</h4>
      </div>
      <div class="row">
        <p>Sample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample TextSample Text</p>
      </div>


    </div>
    <div class="col-9">
      <div class="col-img-top"></div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card-deck">
        <% @new_recipes.each do |recipe| %>
          <div class="card">
            <% if recipe.photo.attached? %>
              <%= link_to recipe_path(recipe.id) do %>
                <%= image_tag recipe.photo.variant(resize: "150x150"), class: "card-img-top" %>
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= recipe.title %></h5>
            <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(recipe.created_at) %> ago</small></p>
              <div>
                <%= link_to '詳細ページへ', recipe_path(recipe.id), class: 'card-btn btn btn-outline-danger btn-sm pl-3' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-2 mt-auto">
      <div class="row justify-content-center">
        <%= link_to '全てのレシピを見る >', recipes_path, class: 'top-button' %>
      </div>
    </div>
  </div>
</div>

