<div class="container">
  <div class="row">
    <div class="col">
      <h3>食材図鑑新規作成</h3>
    </div>
  </div>
  <div class="row">
    
    <%= form_with model: @ingredient, url: admin_ingredients_path, method: :post, local: true do |f| %>
      <h5>画像</h5>
      <%= f.file_field :image, accept: "image/*" %>
      <h5>食材名</h5>
      <%= f.text_field :name %>
      <h5>食材カテゴリー</h5>
      <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), include_blank: true %>
      <h5>食材説明</h5>
      <%= f.text_area :description %>
      <%= f.submit '投稿' %>
   <% end %>
    
  </div>
</div>
