
  <div class="container">

    <div class="row">
      <table class="table table-hober table-inverse">


        <% categories.each do |category| %>

        <tr>
          <th>
            <h5><strong><%= category.name %></strong></h5>
          </th>
        </tr>
        <tr>
          <td>

            <div class="album bg-light">
              <div class="container">
                <div class="row">

                  <% category.ingredients.each do |ingredient| %>

                    <div class="col-md-3">
                      <div class="card custom-card mb-4">
                        <%= link_to ingredient_path(ingredient) do %>
                          <%= image_tag ingredient.get_image(150,150), class:"card-img-top"; %>
                        <% end %>
                      <div class="card-body">
                        <p class="card-title">
                          <% if defined?(admin) && admin.signed_in? %>
                            <%= link_to admin_ingredient_path(ingredient) do %>
                              <%= ingredient.name %>
                            <% end %>
                         <% else %>
                           <%= link_to ingredient_path(ingredient) do %>
                             <%= ingredient.name %>
                           <% end %>
                         <% end %>
                       </p>

                      </div>
                      </div>
                    </div>
                  <% end %>
                 </div>
                </div>
              </div>


          </td>
        </tr>

        <% end %>
      </table>
    </div>

</div>
