<% recipe.post_comments.where(parent_id: nil).each do |post_comment| %>
  <div class="comment-box">
     <%= link_to end_user_path(post_comment.end_user) do %>
       <%= image_tag post_comment.end_user.get_profile_image(30,30) %><br>
       <%= post_comment.end_user.nickname %>
     <% end %>
     (
     <%= post_comment.created_at.strftime('%Y/%m/%d') %>
     )
     <%= post_comment.comment %>
     <% if post_comment.end_user == current_end_user || admin_signed_in? %>
       <%= button_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete, remote:true, data: {"turbolinks" => false}, data: { confirm: '本当に削除しますか?' } %>
     <% end %>

  </div>
  <%= link_to "返信を見る", recipe_post_comments_path(recipe.id, parent_id:2) %>
   <% if (current_end_user && current_end_user == recipe.end_user) && (current_end_user != post_comment.end_user) %>
    <div class="comment-box-reply_form">
      <%= render 'public/post_comments/reply_form', recipe: recipe, post_comment: post_comment, post_comment_reply: post_comment_reply %>
    </div>
  <% end %>

<% end %>