<div id="alert">
  <% if flash.now[:notice] %>
     <div class="alert alert-success" role="alert">
       <p class="notice text-center" style="color:green;">
         <%= flash.now[:notice] %>
       </p>
     </div>
  <% end %>
</div>
<div class="container-m">
  <div class="row">
    <div class="col-7 offset-1">
      <div class="row" style="margin-top: 10px;">
        <h4 class="heading-title">コメントフォーム</h4>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div id="comment-form">
          <%= render 'public/post_comments/form', {recipe: @recipe, post_comment: @post_comment} %>
        </div>
      </div>
       <div class="row" style="margin-top: 30px;">
         <div class="col-10 offset-2">
           <h2 class="heading-title">コメント一覧</h2>
             <p>コメント件数：<span id="comment_count"><%= @recipe.post_comments.count %></span>件</p>
             <div id="post_comments">
               <%= render 'public/post_comments/show', {recipe: @recipe, post_comment_reply: @post_comment_reply, post_comments: @post_comments} %>
            </div>
            <div class="row" style="margin-top: 15px;">
               <%= link_to "元のページに戻る", "javascript:history.back()", class: "btn btn-secondary" %>
            </div>
         </div>
       </div>
    </div>
    <div class="col-4">
      <div class="row" style="margin-top: 20px;">
        <div class="col-9 offset-1">
          <div class="row">
        <h4 class="heading-title">
          <%= link_to recipe_path(@recipe) do %>
            <%= @recipe.title %>
          <% end %>
        </h4>
      </div>
      <div class="row">
        <%= link_to recipe_path(@recipe) do %>
          <%= image_tag @recipe.get_photo(200,200) %>
        <% end %>
      </div>
         <div class="row">
           <h6>レシピ紹介：<%= @recipe.description %></h6>
         </div>
           <div class="row">
             <h6><%= @recipe.tag.name %></h6>
           </div>
          <div class="row" style="margin-bottom: 30px;">
           <h6>所要時間：<%= @recipe.cooking_time.time_in_minuites %></h6>
         </div>
        <table class="table table-sm">
          <tr>
            <th>[投稿者紹介]</th>
          </tr>
          <tr>
            <td>
              <%= link_to end_user_path(@recipe.end_user) do %>
                <%= image_tag @recipe.end_user.get_profile_image(50,50) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              投稿者：
              <%= link_to end_user_path(@recipe.end_user) do %>
                <%= @recipe.end_user.nickname %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>専門料理：<%= @recipe.end_user.specialty %></td>
          </tr>
          <tr>
            <td>自己紹介：<%= @recipe.end_user.bio %></td>
          </tr>
        </table>
      </div>
     </div>
    </div>
  </div>
</div>


