<div class= 'container mt-5'>
  <div class="col-md-10 mx-auto mt-5">

    <div class="row justify-content-center mb-5">
      <div class="col-md-5 headline">
        <h4>＜カテゴリー一覧・新規追加＞</h4>
      </div>
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-md-4 headline">
        <%= form_with model: Category.new, url:admin_categories_path, method: :post do |f| %>
          <h4>カテゴリー名</h4>
          <%= f.text_field :name %>
          <%= f.submit '新規作成' %>
        <% end %>
      </div>
    </div>

  　<table class ="table table-bordered border-dark table-hover align-middle custom-table">
      <thead class ="table-head" style="background-color:#6ea7a1;">
        <tr align="center">
         <th scope="col" style="width: 50%">カテゴリー名</th>
         <th scope="col" style="width: 25%"></th>
         <th scope="col" style="width: 25%"></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category|%>
        <tr align="center">
          <td>
            <%= link_to recipes_path(category.id), class:"admin_link" do  %>
              <%= category.name %>
            <% end %>
          </td>
          <td>
            <%= link_to "編集", edit_admin_category_path(category.id) %>
          </td>
          <td>
            <%= link_to "削除", admin_categories_path(category.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


