<div class= 'container-fluid'>


    <div class="row">
      <div class="col-4">
        <div class="row">
      <div class="col headline">
        <h4>＜カテゴリー一覧・新規追加＞</h4>
      </div>
    </div>

    <div class="row">
      <div class="col headline">
        <%= form_with model: Category.new, url:admin_categories_path, method: :post do |f| %>
          <h5><strong>カテゴリー名新規作成</strong></h5>
          <%= f.text_field :name %>
          <%= f.submit 'カテゴリーを増やす' %>
        <% end %>
      </div>
    </div>

  　<table class ="table table-bordered border-dark table-hover align-middle custom-table">
      <thead class ="table-head" style="background-color:#6ea7a1;">
        <tr align="center">
         <th scope="col" style="width: 50%">カテゴリー名</th>
         <th scope="col" style="width: 25%"></th>
         <th scope="col" style="width: 25%"></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category|%>
        <tr align="center">
          <td>
            <%= category.name %>
          </td>
          <td>
            <%= link_to "編集", edit_admin_category_path(category.id) %>
          </td>
          <td>
            <%= link_to "削除", admin_category_path(category.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
      </div>
      <div class="col-8">
        <%= render 'public/categories/index', categories: @categories, admin: true %>
      </div>
    </div>



</div>


