<ul>
  <li>
    <%= link_to end_user_path(notification.visiter) do %>
      <strong><%= notification.visiter.nickname %></strong>
    <% end %>さんが
    <strong><%= link_to recipe_post_comments_path(notification.recipe) do %>
              <%= notification.recipe.title.truncate(20) %>
            <% end %>
    </strong>
    にコメントしました。
    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </li>
  
  <% if @reply_comment.present? %>
    <li>
      <%= link_to end_user_path(notification.visited) do %>
         <strong><%= notification.visited.nickname %></strong>
      <% end %>さんが
      <strong><%= link_to recipe_post_comments_path(recipe.id, parent_id: post_comment.id) do %>
                <%= notification.recipe.post_comment.comment(parent_id).truncate(20) %>
              <% end %>
      </strong>
      に返信しました。
      <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
    </li>
  <% end %>

</ul>