<!DOCTYPE html>
<html>
  <head>
    <title>ChefSTable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/1ccc9ca859.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* 画面の高さいっぱいに設定 */
    }

    footer {
      background-color: #9ba5a0;
      padding: 15px; /* 適切な余白を設定 */
      text-align: center;
    }
    .col-md-6 {
      padding: 20px
    }

    .col-md-12 {
      padding: 20px
    }


    .container-fluid {
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;

    }

    .boards_searchForm {
      width: 300px;
    }

    .comment-text-area{
      width: 350px;
      height: 100px;
    }

    .favorite-section {
      display: flex;
    }

    .favorite-button-container {
      margin-right: 10px;
    }

    .favorite-button {
      display: inline-block;
      padding: 8px 16px;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 1px solid #ccc;
      border-radius: 4px;
      background-color: #fff;
      color: #333;
      transition: background-color 0.3s ease, color 0.3s ease;
    }

    .favorite-button:hover {
      background-color: #82aaaa;
      color: #fff;
    }



  </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
